<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name='description' content='Documentation website'/>
      <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/assets.css">


      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

        {{ content }}

    <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
    <script src='/scripts/assets.js' type='text/javascript'></script>
    <script>require('boot'); </script>
  </body>
</html>
